*,
::before,
::after {
  box-sizing: border-box;
}

textarea,
input {
  font-family: inherit;
  font-size: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  font-size: 1.6rem;
}
